.header {
    height: 34vw;
    margin: 30px auto;
    background: url('/header_img.png') no-repeat ;
    background-size: cover;
    position: relative; justify-content: center;
}
    
  
  .header_contents {
    position: absolute; 
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.25vw;
    max-width: 50%;
    bottom: 8%;
    left: 6%;
    animation: fadeIn 3s;
    
  }
  .header_contents h2{
    font-weight: 500;
    color: white;
    font-size: max(4.5vw,22px);

  }
.header_contents p{
    font-size: 1vw;
    color: white;

}
.header_contents button{
    border: nonw;
    color: #747474;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: white;
   font-size: max(1vw,13px);
    border-radius: 50px;

}
@media (max-width:1050px) {
  
  .header_contents{
    max-width: 45%;
  }
  
}
@media (max-width:750px) {
  
  .header_contents{
    max-width: 65%;
  }
  .header_contents p{
    display: none;
  }
  .header_contents button{
    padding: 2vw 4vw;
  }
  
}