.navbar {
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

}

.navbar.logo {
    width: 10px;
}

.navbar-menu {
    display: flex;
    list-style: none;
    gap: 20px;
    color: #49557e;
    font-size: 18px;
}

.navbar-right {
    display: flex;
    gap: 20px;
    align-items: center;

}

.navbar button {
    background: transparent;
    font-size: 16px;
    color: #49557e;
    border: 1px solid tomato;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.navbar button:hover {
    color: #989594;
}

.navbar li {
    cursor: pointer;
}
.navbar-icons{
position: relative;
}
.navbar-icon.dot {
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: tomato;
    border-radius: 5px;
    top: -8px;
    right: -8px;
    z-index: 10; 
}


.navbar-menu li.active {
    border-bottom: 2px solid rgb(13, 13, 13);



}
.navbar .navbar-menu a.active {
    border-bottom: 2px solid black;
}

@media (max-width:900px) {
    .navbar.logo{
        width: 120px;
    }
    .navbar-menu{
        gap: 15px;
        font-size: 16px;
    }
    .navbar-right{
        gap: 20px;
    }
    .navbar-right img{
        width: 20px;
    }
    .navbar-right button{
        padding: 7px 20px;
        font-size: 15px;
    }
}
    @media (max-width:750px) {
        .navbar-menu{
            gap: 15px;
            display: none;
        }
        
        
}